<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>




<div class="container">
  <br />
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
<!--       Chart.js Canvas Tag -->
      <canvas id="barChart"></canvas>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<!--{{word1}}-->
<!--{{word2}}-->
<!--{{word3}}-->

<style>
    body{
  background-color: #00ffff;
}

#barChart{
  background-color: #ffffff;
  border-radius: 6px;
/*   Check out the fancy shadow  on this one */
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.6);
}



</style>


<script>
    var canvas = document.getElementById("barChart");
var ctx = canvas.getContext('2d');

// Global Options:
Chart.defaults.global.defaultFontColor = 'black';
Chart.defaults.global.defaultFontSize = 16;






var data = {
  labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29"],
  datasets: [{
      label: "precision",
      fill: false,
      lineTension: 0.1,
      backgroundColor: "#7c1510",
      borderColor: "#1ff605", // The main line color
      // borderCapStyle: 'square',
      // borderDash: [], // try [5, 15] for instance
      // borderDashOffset: 0.0,
      // borderJoinStyle: 'miter',
      pointBorderColor: "black",
      // pointBackgroundColor: "white",
      // pointBorderWidth: 1,
      // pointHoverRadius: 8,
      pointHoverBackgroundColor: "yellow",
      pointHoverBorderColor: "#a0cb2c",
      // pointHoverBorderWidth: 2,
      // pointRadius: 4,
      // pointHitRadius: 10,
      data: {{precision}},
      spanGaps: true,
    }, {
      label: "recall",
      fill: true,
      // lineTension: 0.1,
      // backgroundColor: "rgba(167,105,0,0.4)",
      // borderColor: "rgb(167, 105, 0)",
      // borderCapStyle: 'butt',
      // borderDash: [],
      // borderDashOffset: 0.0,
      // borderJoinStyle: 'miter',
      // pointBorderColor: "white",
      // pointBackgroundColor: "black",
      // pointBorderWidth: 1,
      // pointHoverRadius: 8,
      // pointHoverBackgroundColor: "brown",
      // pointHoverBorderColor: "yellow",
      // pointHoverBorderWidth: 2,
      // pointRadius: 4,
      // pointHitRadius: 10,
      data: {{recall}},
      spanGaps: true,
    }
    , {
      label: "fmeasure",
      fill: true,
      // lineTension: 0.1,
      // backgroundColor: "rgba(167,105,0,0.4)",
      // borderColor: "rgb(167, 105, 0)",
      // borderCapStyle: 'butt',
      // borderDash: [],
      // borderDashOffset: 0.0,
      // borderJoinStyle: 'miter',
      // pointBorderColor: "white",
      // pointBackgroundColor: "black",
      // pointBorderWidth: 1,
      // pointHoverRadius: 8,
      // pointHoverBackgroundColor: "brown",
      // pointHoverBorderColor: "yellow",
      // pointHoverBorderWidth: 2,
      // pointRadius: 4,
      // pointHitRadius: 10,
      data: {{fmeasure}},
      spanGaps: true,
    }
  ]
};

// Notice the scaleLabel at the same level as Ticks
var options = {
  scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                     display: true,
                     labelString: 'Score',
                     fontSize: 20
                  }
            }],xAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                     display: true,
                     labelString: 'DF',
                     fontSize: 20
                  }
            }]
        }
};

// Chart declaration:
var myBarChart = new Chart(ctx, {
  type: 'line',
  data: data,
  options: options
});
</script>




</body>
</html>