<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show news by id</title>
</head>
<body>
<div>
    {% for news in all_news %}
        <h2>{{news.id}}</h2>
        <span>------------</span>
        <h3>{{news.title}}</h3>
        <span>------------</span>
        <p>{{news.abstract}}</p>
        <span>------------</span>
        <p>{{news.content}}</p>
        <hr>
    {% endfor %}
</div>
</body>
</html>

<style>
    body{
        direction: rtl;
    }
</style>